# Artefacts lourds / regenerables (non versionnes)
/dump/

/bench_scan
/bp_scan
/bploc
/chain_find
/chain_find2
/ctx
/fieldscan
/find_klass
/find_klass2
/find_slot
/hunt_pm
/hunt_pm2
/hunt_pm4
/klassfind
/memory_probe
/objscan
/peek
/playerscan
/pmchk
/posdump
/probe_chain
/probe_diag
/probe_diag2
/probe_ents
/probe_hier
/probe_idx
/probe_item
/probe_item2
/probe_item3
/probe_item4
/probe_item5
/probe_itemdump
/probe_items_final
/probe_itemstrings
/probe_local
/probe_names
/probe_names2
/probe_pos_find
/probe_tr
/probe_v3
/probe_va
/probe_verify
/probe_verify2
/radar_v17
/radar_v18
/radar_v19
/radar_v20
/radar_v21
/radar_v22
/radar_v23
/radar_v24
/radar_v25
/radar_v26
/radar_v27
/radar_v28
/radar_v29
/radar_v30
/radar_v31
/radar_v32
/radar_v33
/radar_v34
/refcount
/sfprobe
/who
/win
*.o
*.dSYM/
.DS_Store
*.log
